@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

:root {
    --sidebar-width-absolute: 18%;
    --sidebar-width: 0%;
    --sidebar-text-size: 2.5vh;
}

a {
    color: white;
}

a:hover {
    color: lightskyblue;
}

.sidebar-button {
    z-index: 3;
    position: fixed;
    top: 2%;
    left: 0%;
    filter: invert(100%);
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: var(--sidebar-width-absolute);
    transition: left 0.3s ease-out;
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    overflow-x: hidden;
    background-color: #101010;
}
.sidenav a {
    text-align: right;
    display: block;
    margin-right: 15%;
    font-size: var(--sidebar-text-size);
}
.sidenav p {
    text-align: right;
    display: block;
    margin-right: 15%;
    font-size: var(--sidebar-text-size);
    position: absolute;
    bottom: 2.5%;
    right: 0;
}

.logo {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    margin-top: 17.5%;
    margin-bottom: 7.5%;
}
.large {
    font-size: 30pt;
}
.medium {
    font-size: 20pt;
}
.small {
    font-size: 15pt;
}
.active {
    color: lightskyblue;
}
.main-body {
    margin-left: calc(var(--sidebar-width) + var(--sidebar-width-absolute));
    transition: margin-left 0.3s ease-out;
    margin-top: 3%;
}
.bg {
    background-color: black;
    background-image: url(../assets/sitebg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
p {
    font-family: 'Roboto Mono', monospace;
    color:white;
    display: block;
}
a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}
