.work {
    width: 80%;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.375);
    min-height: 200px;
}

.indev {
    background-image: repeating-linear-gradient(-45deg,
    rgba(0,0,0,0.375),
    rgba(0,0,0,0.375) 20px,
    rgba(80, 0, 0, 0.375) 20px,
    rgba(80, 0, 0, 0.375) 40px);
}
.work-title {
    padding-left: 20px;
    padding-top: 20px;
    text-align: left;
    color: lightskyblue;
    font-size: 20pt;
}
.work-date {
    margin-top: -20px;
    margin-bottom: -13px;
    color: white;
    padding-left: 30px;
    font-size: 15pt;
}
.work ul {
    font-family: 'Roboto Mono', monospace;
    color:white;
    display: block;
    line-height: 1.5;
    padding-bottom: 20px;
    padding-right: 20px;
}
.work-link {
    color: lightskyblue;
}

hr {
    margin-right: 15%;
}