@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
p {
	font-family: 'Varela Round', sans-serif;
	font-size: 16pt;
	color: white;
}

h1, h2, h3, h4 {
	font-family: 'Varela Round', sans-serif;
	color: white;
}

h2 {
	font-size: 24pt;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: lightskyblue;
	text-decoration: none;
}

a:active {
	color: yellow;
	text-decoration: none;
}

a.icon2{
	width:25%;
	height:80%;
	margin:4%;
	transition: .3s;
	filter:drop-shadow(0% 0% 0px black);
}

a.icon2:hover {
	transition: .3s;
	width:30%;
	height:100%;
	margin:3%;
	filter:drop-shadow(1% 1% 0px black);
}
.icon {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	transition: .3s;
	filter: grayscale(100%) brightness(400%);
}

.icon:hover {
	transition: .3s;
	filter: grayscale(0%) brightness(100%);
}

.blog-listing-main {
	height: 90%;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
}

.blog-listing-post {
	height: 3vw;
	width: 80%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 2vw;
}

.blog-post-title {
	text-align: center;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-top: 3vw;
	padding-bottom: 1vw;
}
.blog-post-date {
	padding-bottom: 3vw;
	text-align: center;
}
.blog-post-main {
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 3vw;
	text-indent: 2vw;
}
.site-footer {
	height: auto;
	background-color: #00000060;
}