@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
p {
	font-family: 'Varela Round', sans-serif;
	font-size: 24pt;
	color: white;
}

h1, h2, h3, h4 {
	font-family: 'Varela Round', sans-serif;
	color: white;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: lightskyblue;
	text-decoration: none;
}

a:active {
	color: yellow;
	text-decoration: none;
}

a.icon2{
	width:25%;
	height:100%;
	margin:4%;
	transition: .3s;
}

a.icon2:hover {
	transition: .3s;
	width:30%;
	height:100%;
	margin:6%;
}
.icon {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	transition: .3s;
	filter: grayscale(100%) brightness(400%);
}

.icon:hover {
	transition: .3s;
	filter: grayscale(0%) brightness(100%);
}