@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://cdn.jsdelivr.net/npm/open-iconic@1.1.1/font/css/open-iconic-bootstrap.min.css');
p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24pt;
	color: white;
}

h1, h2, h3, h4 {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
}

h1 {
	font-size: 40pt;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: lightskyblue;
	text-decoration: none;
}

a:active {
	color: yellow;
	text-decoration: none;
} 